.animalBtn {
  display: block;
  margin: 0px auto;
  text-align: center;
}

.catBtn {
  margin-right: 12px;
}

.catBtn:hover {
  transform: scale(1.4);
}

.dogBtn {
  margin-right: 12px;
}
.dogBtn:hover {
  transform: scale(1.4);
}
.submitCenter {
  text-align: center;
}
.submitBtn {
  display: inline-block;
  position: relative;
  width: 120px;
  padding: 10;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}

.submitBtn.submitBtnPush {
  box-shadow: 0px 5px 0px 0px #a66615;
}
.submitBtn:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}
.submitBtn.submitBtnPush:hover {
  box-shadow: 0px 0px 0px 0px #a66615;
}
.submitBtn:active {
  position: relative;
  top: 1px;
}
.submitBtn:hover,
.submitBtn:focus {
  background-color: #ffaa40;
}

.searchName {
  display: block;
  margin: 0px auto 20px auto;
  text-align: center;
}

.locSel::-ms-expand {
  display: none;
}

.locSel {
  width: 120px;
  height: 25px;
  background-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: 0 none;
  /* background: url("../css/img/down.png") no-repeat;
  background-size: 15px;
  background-position: 7em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-apperance: none;
  appearance: none; */
}

.locSel option {
  background: #ffaa40;
  color: white;
  /* padding: 3px 0; */
  border-radius: 5px;
}

.stateSel::-ms-expand {
  display: none;
}

.stateSel {
  width: 120px;
  height: 25px;
  background-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: 0 none;
  /* background: url("../css/img/down.png") no-repeat;
  background-size: 15px;
  background-position: 7em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-apperance: none;
  appearance: none; */
}

.stateSel option {
  background: #ffaa40;
  color: white;
  /* padding: 3px 0; */
  border-radius: 5px;
}

.locationText {
  display: inline-block;
  margin: 10px auto auto 30px;
  text-align: center;
  height: 100%;
}

.stateText {
  display: inline-block;
  margin: 10px auto auto auto;
  text-align: center;
  height: 100%;
}
.totalText {
  width: 300px;
  margin: 0 auto;
}
