

/* 초기화 코드*/


*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

.main{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
}

.main section{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/*----- main section 1 -----*/

@font-face {
    font-family: "Hi";
    src: url("./fonts/Hi_Melody/HiMelody-Regular.ttf");
}
.main #section1{
    height: 100vh;
    background-image: url(./mainImg/milad-fakurian-UiiHVEyxtyA-unsplash.jpg);
    background-size: cover;
    margin-top: 20px;
    position: relative;
}

.main #section1 .text_area{
    position: absolute;
    top: 40%;
    left: 15%;
}

.main #section1 .text_area span{
    display: block;
    font-size: 40px;
    font-family: "Hi";
}

/*----- main slide -----*/

* {margin:0;padding:0;box-sizing:border-box;}

[name="slide"] {display:none;}
.slidebox {
    max-width:100000000px;
    width:100%;
    margin:0 auto;
}

.slidebox img {max-width:100%;}
.slidebox .slidelist {
    white-space:nowrap;
    width: 380px;
    height: 380px;
    font-size:0;
    overflow:hidden;
    position: absolute;
    top: 5.2%;
    left: 51.8%;
    border-radius: 60%;
    
}
.slidebox .slideitem  {
    position:relative;    
    transition:all .60s;
    width: 1520px;
}

.moveImage{
    position: absolute;
    right: 10%;
    background-image: url("./img/glass.png");
    background-size: cover;
    width: 900px;
    height: 600px;
}

.slideitem .Float {
    float: left;
}


.slidebox .slideitem img {
    width: 380px;
    height: 380px;

}


[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 15s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide01 15s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide01 15s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide01 15s infinite;}

@keyframes slide01 {
    0% {left:0%;}
    33% {left:-100%;}
    66% {left:-200%;}
    100% {left:-300%;}
}

@font-face {
    font-family: "Do";
    src: url("./fonts/Do_Hyeon/DoHyeon-Regular.ttf");
}

.main #section2_forntpage{
    display: block;
    float: left;
    width: 30%;
    height: 50vh;
    background-color: white;

    
}

.main #section2_forntpage div {
    height: 50%;
    font-family: "Do";
    
}
.main #section2_forntpage div div {
    display: block;
    float: left;
}
.main #section2_forntpage div .dogimg {
    display: block;
    background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
    background-size: cover;
    width: 50%;
    height: 100%;
}

.main #section2_forntpage div .catimg {
    display: block;
    width: 50%;
    height: 100%;
    background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
    background-size: cover;
}

.main #section2_forntpage h1 {
    position: relative;
    left: 20%;
    top: 30%;
}

.main #section2_forntpage span {
    display: block;
    font-size: 40px;
}


/*----- main section 2 -----*/
.main #section2{
    width: 35%;
    height: 50vh;
    background-color: beige;
    display: block;
    float: left;


}


/*----- main section 3 -----*/
.main #section3{
    display: block;
    float: left;
    width: 35%;
    height: 400px;
    background-color: beige;

}

/*----- main section 4 -----*/
.main #section4{
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
    float: left;
}

.textslide{
    display: block;
    background: rgba(44, 62, 80,1.0);
    width: 30%;
    height: 100%;
    float: left;
}

.textslide .card{
    position: relative;
    top: 20%;
    width: 350px;
    padding: 30px;
    background: #1abc9c;
    margin: auto;
    transition: .3s ease;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    
}

.textslide .card:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
}


.textslide .entry-title{
    background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(22, 160, 133,1.0) 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: .5s ease-in-out;
    font-family: raleway, arial, sans-serif;
    text-transform: uppercase;
    
}
.textslide .entry-title a{
    color: red;
    text-decoration: none;
}



[name="slide2"] {display:none;}
.slidebox2 {
    max-width:100000px;
    width:70%;
    height: 100%;
    margin:0 auto;
    float: left;
}

.slidebox2 img {max-width:100%;}
.slidebox2 .slidelist2 {
    white-space:nowrap;
    width: 60%;
    height: 100%;
    font-size:0;
    overflow:hidden;
    position: relative;
    left: 20%;
    
}
.slidebox2 .slideitem2  {
    position:relative;    
    transition:all .60s;
    width: max-content
}

.slidebox2 .slideitem2 .Float2 {
    float: left;
}


.slidebox2 .slideitem2 img {
    width: 400px;
    height: 400px;

}


[id="slide05"]:checked ~ .slidelist2 .slideitem2 {transform:translateX(-9%);animation:slide02 15s infinite;}

@keyframes slide02 {
    0% {left: 0%;}
    25% {left:-55%;}
    50% {left:-115%;}
    75% {left:-170%;}
    100% {left:-230%;}
}


.footer {
    height: 100px;

    display: block;
    float: left;
    width: 100%;
}


.footer ul li {
    float: left;
    padding-left: 20%;
    padding-top: 2%
}

.footer ul li a {
    font-size: 40px;
}