/* 초기화 코드*/

.main{
    width: auto;
    height: auto;
}

/*----- main section 1 -----*/

@font-face {
    font-family: "Hi";
    src: url("./fonts/Hi_Melody/HiMelody-Regular.ttf");
}
.main #section1{
    height: 600px;
    background-image: url(./mainImg/milad-fakurian-UiiHVEyxtyA-unsplash.jpg);
    background-size: cover;
    margin-top: 20px;
    position: relative;
}

.main #section1 .text_area{
    position: absolute;
    top: 40%;
    left: 15%;
}

.main #section1 .text_area span{
    display: block;
    font-size: 40px;
    font-family: "Hi";
}

/*----- main slide -----*/

* {margin:0;padding:0;box-sizing:border-box;}

[name="slide"] {display:none;}
.slidebox {
    max-width:100000px;
    width:100%;
    margin:0 auto;
}

.slidebox img {max-width:100%;}
.slidebox .slidelist {
    white-space:nowrap;
    width: 300px;
    height: 300px;
    font-size:0;
    overflow:hidden;
    position: absolute;
    top: 20%;
    left: 65%;
    border-radius: 70%;
    
}
.slidebox .slideitem  {
    position:relative;    
    transition:all .35s;
    width: 1200px;
}

.slideitem .Float {
    float: left;
}


.slidebox .slideitem img {
    width: 300px;
    height: 300px;

}


[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 15s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide01 15s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide01 15s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide01 15s infinite;}

@keyframes slide01 {
    0% {left:0%;}
    33% {left:-100%;}
    66% {left:-200%;}
    100% {left:-300%;}
}

@font-face {
    font-family: "Do";
    src: url("./fonts/Do_Hyeon/DoHyeon-Regular.ttf");
}

.main #section2_forntpage{
    display: block;
    float: left;
    width: 30%;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    
}

.main #section2_forntpage div {
    height: 50%;
    font-family: "Do";
    
}
.main #section2_forntpage div div {
    display: block;
    float: left;
}
.main #section2_forntpage div .dogimg {
    display: block;
    background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
    background-size: cover;
    width: 50%;
    height: 100%;
}

.main #section2_forntpage div .catimg {
    display: block;
    width: 50%;
    height: 100%;
    background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
    background-size: cover;
}

.main #section2_forntpage h1 {
    position: relative;
    left: 20%;
    top: 30%;
}

.main #section2_forntpage span {
    display: block;
    font-size: 40px;
}


/*----- main section 2 -----*/
.main #section2{
    width: 35%;
    height: 400px;
    background-color: gray;
    display: block;
    float: left;
    border: 1px solid black;

}


/*----- main section 3 -----*/
.main #section3{
    display: block;
    float: left;
    width: 35%;
    height: 400px;
    background-color: gray;
    border: 1px solid black;
}

/*----- main section 4 -----*/
.main #section4{
    height: 1200px;
    background-color: beige;
}



[name="slide2"] {display:none;}
.slidebox2 {
    max-width:100000px;
    width:100%;
    margin:0 auto;
}

.slidebox2 img {max-width:100%;}
.slidebox2 .slidelist2 {
    white-space:nowrap;
    width: 300px;
    height: 300px;
    position: relative;
    top: 20%;
    left: 65%;
    border-radius: 70%;
    
}
.slidebox2 .slideitem2  {
    position:relative;    
    transition:all .35s;
    width: max-content;
}

.slidebox2 .slideitem2 div{
    float: left;
}


.slidebox2 .slideitem2 img {
    width: 600px;
    height: 600px;
}


[id="slide05"]:checked ~ .slidelist2 .slideitem2 {transform:translateX(0);animation:slide02 15s infinite;}
[id="slide06"]:checked ~ .slidelist2 .slideitem2 {transform:translateX(-100%);animation:slide02 15s infinite;}
[id="slide07"]:checked ~ .slidelist2 .slideitem2 {transform:translateX(-200%);animation:slide02 15s infinite;}
[id="slide08"]:checked ~ .slidelist2 .slideitem2 {transform:translateX(-300%);animation:slide02 15s infinite;}
[id="slide09"]:checked ~ .slidelist2 .slideitem2 {transform:translateX(-300%);animation:slide02 15s infinite;}
[id="slide10"]:checked ~ .slidelist2 .slideitem2 {transform:translateX(-300%);animation:slide02 15s infinite;}

@keyframes slide02 {
    0% {left:-10%;}
    33% {left:-300%;}
    67% {left:-500%;}
    100% {left: -700%;}
}


.footer {
    height: 300px;
    background-color: red;
}