/* 초기화 코드*/


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main {
    height: 100vh;

}

.main section {
    display: block
}

/*----- main section 1 -----*/

@font-face {
    font-family: "Hi";
    src: url("./fonts/Hi_Melody/HiMelody-Regular.ttf");
}

.main #section1 {
    height: 700px;
    background-image: url(./mainImg/milad-fakurian-UiiHVEyxtyA-unsplash.jpg);
    background-size: cover;
    margin-top: 20px;
    position: relative;
}

.main #section1 .text_area {
    position: absolute;
    top: 40%;
    left: 15%;
}

.main #section1 .text_area span {
    display: block;
    font-size: 40px;
    font-family: "Hi";
}

/*----- main slide -----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[name="slide"] {
    display: none;
}

.slidebox {
    max-width: 100000000px;
    width: 100%;
    margin: 0 auto;
    /* jinwoo plus */
    width: 380px;
    height: 380px;
    top: 4.5%;
    left: 2.3%;
    position: relative;
}

.slidebox img {
    max-width: 100%;
}

.slidebox .slidelist {
    width: 380px;
    height: 380px;
    overflow: hidden;
    position: absolute;
    top: 18.5%;
    left: 76.5%;
    border-radius: 60%;
    z-index: -10px;

}

.slidebox .slideitem {
    position: relative;
    transition: all .60s;
    width: 1900px;
}

.glassimg {
    display: block;
    position: absolute;
    top: 10%;
    left: 60%;
    background-image: url(../css/img/glass02.png);
    background-size: cover;
    width: 600px;
    height: 600px;
    z-index: 10;
}

/* .moveImage{
} */

.slideitem .Float {
    float: left;
}


.slidebox .slideitem img {
    width: 380px;
    height: 380px;
}


[id="slide01"]:checked~.slidelist .slideitem {
    transform: translateX(0);
    animation: slide01 15s infinite;
}

@keyframes slide01 {
    0% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

@font-face {
    font-family: "Do";
    src: url("./fonts/Do_Hyeon/DoHyeon-Regular.ttf");
}

.main #section2_forntpage {
    display: block;
    float: left;
    width: 30%;
    height: 400px;
    background-color: white;

}

.main #section2_forntpage div {
    height: 50%;
    font-family: "Do";

}

.main #section2_forntpage div div {
    display: block;
    float: left;
}

.main #section2_forntpage div .dogimg {
    display: block;
    background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
    background-size: cover;
    width: 50%;
    height: 100%;
}

.main #section2_forntpage div .catimg {
    display: block;
    width: 50%;
    height: 100%;
    background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
    background-size: cover;
}

.main #section2_forntpage h1 {
    position: relative;
    /* left: 20%; */
    top: 30%;
}

.main #section2_forntpage span {
    display: block;
    font-size: 40px;
}


/*----- main section 2 -----*/
.main #section2 {
    width: 35%;
    height: 400px;
    background-color: beige;
    display: block;
    float: left;


}


/*----- main section 3 -----*/
.main #section3 {
    display: block;
    float: left;
    width: 35%;
    height: 400px;
    background-color: beige;

}

/*----- main section 4 -----*/
.main #section4 {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    float: left;
}

.textslide {
    display: block;
    background: skyblue;
    width: 30%;
    height: 100%;
    float: left;
}

.textslide .card {
    position: relative;
    top: 20%;
    width: 350px;
    padding: 30px;
    background: rgb(255, 255, 255);
    margin: auto;
    transition: .3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

}

.textslide .card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
    transform: translateY(-10px) scale(1.02);
}


.textslide .entry-title {

    display: inline;
    transition: .5s ease-in-out;
    font-family: raleway, arial, sans-serif;
    text-transform: uppercase;

}

.textslide .entry-title a {
    color: black;
    text-decoration: none;
}



[name="slide2"] {
    display: none;
}

.slidebox2 {
    max-width: 100000px;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    float: left;
}

.slidebox2 img {
    max-width: 100%;
}

.slidebox2 .slidelist2 {
    white-space: nowrap;
    height: 400px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slidebox2 .slideitem2 {
    position: relative;
    transition: all .60s;
    width: max-content
}

.slidebox2 .slideitem2 .Float2 {
    float: left;
}


.slidebox2 .slideitem2 img {
    width: 400px;
    height: 400px;

}


[id="slide05"]:checked~.slidelist2 .slideitem2 {
    transform: translateX(-200px);
    animation: slide02 15s infinite;
}

@keyframes slide02 {
    0% {
        left: 0;
    }
    5%{
        left: -400px;
    }
    25% {
        left: -400px;
    }
    30%{
        left: -800px;
    }
    50% {
        left: -800px;
    }
    55%{
        left: -1200px;
    }
    75% {
        left: -1200px;
    }
    80%{
        left: -1600px;
    }
    99.99%{
        left: -1600px;
    }
    100% {
        left: 0;
    } 
}



#Footer{
    float: left;
    width: 100%;
    height: 150px;
    background-color: bisque;
    border: solid 1px white;
}

#footer_box{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    /* border: solid 1px red; */
}

#footer_logo {
    float: left;
    margin: 45px 0 0 30px;
    /* border: solid 1px red; */

}
#footer_box #address {
    float: right;
    margin: 45px 0 0 30px;
    /* border: solid 1px red; */
}


.fea{
    position: relative;
    top: -2%;
}

#Textlink{
  display: block;
  width: 20%;
  height: 100%;
  /* margin: 0 auto; */
  margin-left: 5%;
  margin-top: 15%;
}


@media (max-width:280px) {

    .space{
        margin-left: 15%;
    }

    #Textlink{
        display: block;
        width: 100%;
        height: 200px;
        /* margin: 0 auto; */
        float: left;
        margin-top: 10%;
        margin-left: 10%;
    }
    #Textlink h1{
        font-size: x-small;
    }
    #Textlink p{
        font-size: xx-small;
    }
    .slidebox .slidelist {
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 10%;
        border-radius: 60%;

    }


    .glassimg {
        display: none;
    }


    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }



    .main #section2_forntpage span {
        display: block;
        font-size: 30px;
    }


    .textslide .card {
        position: relative;
        top: 20%;
        width: 250px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .footer ul li {
        float: left;
        padding-left: 25%;
        padding-top: 2%
    }

    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: 150px;
        width: 50%;
        height: 100%;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 50%;
        height: 100%;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: 150px;
    }

    .slidebox2 .slidelist2 {
        width: 270px;
        height: 270px;
        position: relative;
        left: 0%;
    }

    .slidebox2 .slideitem2 img {
        width: 270px;
        height: 270px;

    }

    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }


    @keyframes slide02 {
        0% {
            left: 0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }

}

@media (min-width:280px) and (max-width:360px) {

    .space{
        margin-left: 15%;
    }

    #Textlink{
        display: block;
        width: 50%;
        height: 200px;
        /* margin: 0 auto; */
        float: left;
        margin-top: 10%;
        margin-left: 10%;
    }
    #Textlink h1{
        font-size: x-small;
    }
    #Textlink p{
        font-size: xx-small
    }
    .main #section1 {
        width: auto;
        height: 600px;
    }

    .main #section1 .text_area {
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .main #section1 .text_area span {
        display: block;
        font-size: 30px;
        font-family: "Hi";
    }



    [name="slide"] {
        display: none;
    }

    .slidebox {
        max-width: 100000000px;
        width: 100%;
        margin: 0 auto;
    }

    .slidebox img {
        max-width: 100%;
    }

    .slidebox .slidelist {
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: absolute;
        top: 42%;
        left: 13%;
        border-radius: 60%;

    }

    .glassimg {
        display: none;
    }

    .slidebox .slideitem {
        position: relative;
        transition: all .60s;
        width: 1000px;
    }


    .slideitem .Float {
        float: left;
    }


    .slidebox .slideitem img {
        width: 200px;
        height: 200px;

    }


    [id="slide01"]:checked~.slidelist .slideitem {
        transform: translateX(0);
        animation: slide01 15s infinite;
    }

    @keyframes slide01 {
        0% {
            left: 0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }

    .main #section2_forntpage {
        display: block;
        float: left;
        width: auto;
        height: 250px;
        width: 100%;
        background-color: white;
        margin: 0 auto;


    }

    .main #section2_forntpage div {
        height: 50%;
        font-family: "Do";

    }

    .main #section2_forntpage div div {
        display: block;
        float: left;
    }

    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 50%;
        height: 100%;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: cover;
    }

    .main #section2_forntpage h1 {
        width: 300px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage span {
        display: block;
        font-size: 30px;
    }


    /*----- main section 2 -----*/
    .main #section2 {
        width: 100%;
        height: 50vh;
        background-color: beige;
        display: block;
        float: left;


    }


    .main #section4 {
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        float: left;
    }

    .textslide {
        display: block;
        background: #1abc9c;
        width: 100%;
        height: 300px;
        float: left;

    }

    .textslide .card {
        position: relative;
        top: 20%;
        width: 200px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .textslide .card:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
        transform: translateY(-10px) scale(1.02);
    }


    .textslide .entry-title {

        display: inline;
        transition: .5s ease-in-out;
        font-family: raleway, arial, sans-serif;
        text-transform: uppercase;

    }

    .textslide .entry-title a {
        color: white;
        text-decoration: none;
    }



    [name="slide2"] {
        display: none;
    }

    .slidebox2 {
        max-width: 100000px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: left;
    }

    .slidebox2 img {
        max-width: 100%;
    }

    .slidebox2 .slidelist2 {
        width: 250px;
        height: 250px;
        position: relative;
        left: 0%;

    }

    .slidebox2 .slideitem2 {
        position: relative;
        transition: all .60s;
        width: max-content
    }

    .slidebox2 .slideitem2 .Float2 {
        float: left;
    }


    .slidebox2 .slideitem2 img {
        width: 250px;
        height: 250px;

    }


    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }

    @keyframes slide02 {
        0% {
            left: -0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }

    #footer_logo {
        font-size: small;
        margin-left: 0;
    }
    #footer_box #address {
        font-size: x-small;
        margin: 45px 0 0 0px;
    }

}

@media (min-width: 360px) and (max-width:500px) {

    #footer_logo {
        font-size: small;
        margin-left: 0;
    }
    #footer_box #address {
        font-size: x-small;
        margin: 45px 0 0 0px;
    }


    .space{
        margin-left: 15%;
    }

    #Textlink{
        display: block;
        width: 50%;
        height: 200px;
        /* margin: 0 auto; */
        float: left;
        margin-top: 0%;
        margin-left: 10%;
    }
    #Textlink h1{
        font-size: x-small;
    }
    #Textlink p{
        font-size: xx-small;
    }
    #Textlink button {
        font-size: small;
    }

    .main #section1 {
        height: 900px;
    }

    .main #section1 .text_area {
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .slidebox {
        max-width: 100000000px;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    top: 4.5%;
    left: 2.3%;
    position: relative;
    }
    .slidebox .slidelist {
        width: 320px;
        height: 320px;
        overflow: hidden;
        position: absolute;
        top: 44%;
        left: 4%;
        border-radius: 60%;

    }

    .glassimg {
        display: none;
    }

    .slidebox .slideitem img {
        width: 320px;
        height: 320px;
    }



    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage {
        display: block;
        width: 100%;
        height: 360px;
        background-color: white;
    }


    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: cover;
        width: 180px;
        height: 180px;
    }

    .main #section2_forntpage div h1 {
        margin-left: 0;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 180px;
        height: 180px;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: cover;
    }


    .main #section2_forntpage h1 {
        width: 300px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage span {
        display: block;
        font-size: 40px;
    }


    /*----- main section 2 -----*/
    .main #section2 {
        width: 100%;
        height: 50vh;
        background-color: beige;
        display: block;
        float: left;


    }


    .main #section4 {
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        float: left;
    }

    .textslide {
        display: block;
        background: #1abc9c;
        width: 100%;
        height: 300px;
        float: left;
    }

    .textslide .card {
        position: relative;
        top: 20%;
        width: 350px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .textslide .card:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
        transform: translateY(-10px) scale(1.02);
    }


    .textslide .entry-title {

        display: inline;
        transition: .5s ease-in-out;
        font-family: raleway, arial, sans-serif;
        text-transform: uppercase;

    }

    .textslide .entry-title a {
        color: white;
        text-decoration: none;
    }



    [name="slide2"] {
        display: none;
    }

    .slidebox2 {
        max-width: 100000px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: left;
    }

    .slidebox2 img {
        max-width: 100%;
    }

    .slidebox2 .slidelist2 {
        width: 300px;
        height: 300px;
        position: relative;
        left: 0%;

    }

    .slidebox2 .slideitem2 {
        position: relative;
        transition: all .60s;
        width: max-content
    }

    .slidebox2 .slideitem2 .Float2 {
        float: left;
    }


    .slidebox2 .slideitem2 img {
        width: 300px;
        height: 300px;

    }


    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }

    @keyframes slide02 {
        0% {
            left: -0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }


}

@media (min-width: 500px) and (max-width:610px) {
    .space{
        margin-left: 15%;
    }
    #Textlink{
        display: block;
        width: 100%;
        height: 200px;
        float: left;
        margin-top: 0%;
        margin-left: -10%;
    }
    #Textlink h1{
        font-size: large;
    }
    #Textlink p{
        font-size: small;
    }
    .main #section1 {
        height: 900px;
    }

    .main #section1 .text_area {
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .slidebox {
        max-width: 100000000px;
    width: 100%;
    margin: 0 auto;
    width: 380px;
    height: 700px;
    top: 4.5%;
    left: 2.3%;
    position: relative;
    }
    .slidebox .slidelist {
        width: 320px;
        height: 320px;
        overflow: hidden;
        position: absolute;
        top: 43%;
        left: 13.5%;
        border-radius: 60%;

    }

    .glassimg {
        position: absolute;
        top: 40%;
        left: 0%;
        background-image: url(../css/img/glass02.png);
        background-size: cover;
        width: 450px;
        height: 500px;
    }

    .slidebox .slideitem img {
        width: 320px;
        height: 320px;
    }



    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage {
        display: block;
        width: 500px;
        height: 500px;
        background-color: white;
        margin-left: 20%;
    }


    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: cover;
        width: 200px;
        height: 200px;
    }

    .main #section2_forntpage div h1 {
        margin-left: 0;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 200px;
        height: 200px;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: cover;
    }


    .main #section2_forntpage h1 {
        width: 300px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage span {
        display: block;
        font-size: 40px;
    }


    /*----- main section 2 -----*/
    .main #section2 {
        width: 100%;
        height: 50vh;
        background-color: beige;
        display: block;
        float: left;


    }


    .main #section4 {
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        float: left;
    }

    .textslide {
        display: block;
        background: #1abc9c;
        width: 100%;
        height: 300px;
        float: left;
    }

    .textslide .card {
        position: relative;
        top: 20%;
        width: 350px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .textslide .card:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
        transform: translateY(-10px) scale(1.02);
    }


    .textslide .entry-title {

        display: inline;
        transition: .5s ease-in-out;
        font-family: raleway, arial, sans-serif;
        text-transform: uppercase;

    }

    .textslide .entry-title a {
        color: white;
        text-decoration: none;
    }



    [name="slide2"] {
        display: none;
    }

    .slidebox2 {
        max-width: 100000px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: left;
    }

    .slidebox2 img {
        max-width: 100%;
    }

    .slidebox2 .slidelist2 {
        width: 300px;
        height: 300px;
        position: relative;
        left: 0%;

    }

    .slidebox2 .slideitem2 {
        position: relative;
        transition: all .60s;
        width: max-content
    }

    .slidebox2 .slideitem2 .Float2 {
        float: left;
    }


    .slidebox2 .slideitem2 img {
        width: 300px;
        height: 300px;

    }


    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }

    @keyframes slide02 {
        0% {
            left: -0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }



}

@media (min-width: 610px) and (max-width:710px) {
    .space{
        margin-left: 15%;
    }
    #Textlink{
        display: block;
        width: 100%;
        height: 200px;
        float: left;
        margin-left: -5%;
    }
    #Textlink h1{
        font-size: large;
    }
    #Textlink p{
        font-size: small;
    }

    .main #section1 .text_area {
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .slidebox {
        max-width: 100000000px;
    width: 100%;
    margin: 0 auto;
    width: 380px;
    height: 665px;
    top: 4.5%;
    left: 2.3%;
    position: relative;
    }

    .slidebox .slidelist {
        width: 320px;
    height: 320px;
    overflow: hidden;
    position: absolute;
    top: 34%;
    left: 23.5%;
    border-radius: 60%;

    }

    .glassimg {
        position: absolute;
        top: 30%;
        left: 10%;
        background-image: url(../css/img/glass02.png);
        background-size: cover;
        width: 450px;
        height: 500px;
    }

    .slidebox .slideitem img {
        width: 320px;
        height: 320px;
    }



    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage {
        display: block;
        width: 400px;
        height: 400px;
        background-color: white;
        margin-left: 20%;
    }


    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: cover;
        width: 200px;
        height: 200px;
    }

    .main #section2_forntpage div h1 {
        margin-left: 0;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 200px;
        height: 200px;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: cover;
    }


    .main #section2_forntpage h1 {
        width: 300px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage span {
        display: block;
        font-size: 40px;
    }


    /*----- main section 2 -----*/
    .main #section2 {
        width: 100%;
        height: 50vh;
        background-color: beige;
        display: block;
        float: left;


    }


    .main #section4 {
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        float: left;
    }

    .textslide {
        display: block;
        background: #1abc9c;
        width: 100%;
        height: 300px;
        float: left;
    }

    .textslide .card {
        position: relative;
        top: 20%;
        width: 350px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .textslide .card:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
        transform: translateY(-10px) scale(1.02);
    }


    .textslide .entry-title {

        display: inline;
        transition: .5s ease-in-out;
        font-family: raleway, arial, sans-serif;
        text-transform: uppercase;

    }

    .textslide .entry-title a {
        color: white;
        text-decoration: none;
    }



    [name="slide2"] {
        display: none;
    }

    .slidebox2 {
        max-width: 100000px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: left;
    }

    .slidebox2 img {
        max-width: 100%;
    }

    .slidebox2 .slidelist2 {
        width: 300px;
        height: 300px;
        position: relative;
        left: 0%;

    }

    .slidebox2 .slideitem2 {
        position: relative;
        transition: all .60s;
        width: max-content
    }

    .slidebox2 .slideitem2 .Float2 {
        float: left;
    }


    .slidebox2 .slideitem2 img {
        width: 300px;
        height: 300px;

    }


    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }

    @keyframes slide02 {
        0% {
            left: -0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }


}

@media (min-width: 710px) and (max-width:970px) {



    .main #section1 .text_area {
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .slidebox {
        max-width: 100000000px;
        width: 100%;
        margin: 0 auto;
        width: 380px;
        height: 700px;
        top: 4.5%;
        left: 2.3%;
        position: relative;
    }

    .slidebox .slidelist {
        width: 320px;
        height: 320px;
        overflow: hidden;
        position: absolute;
        top: 33.5%;
        left: 33.5%;
        border-radius: 60%;

    }

    .glassimg {
        position: absolute;
        top: 30%;
        left: 20%;
        background-image: url(../css/img/glass02.png);
        background-size: cover;
        width: 450px;
        height: 500px;

    }

    .slidebox .slideitem img {
        width: 320px;
        height: 320px;
    }



    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage {
        display: block;
        float: left;
        width: 100%;
        height: 400px;
        background-color: white;
        padding-left: 25%;
    }


    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: cover;
        width: 200px;
        height: 200px;
    }

    .main #section2_forntpage div h1 {
        margin-left: 0;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 200px;
        height: 200px;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: cover;
    }


    .main #section2_forntpage h1 {
        width: 300px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage span {
        display: block;
        font-size: 40px;
    }


    /*----- main section 2 -----*/
    .main #section2 {
        width: 100%;
        height: 400px;
        background-color: beige;
        display: block;
        float: left;


    }


    .main #section4 {
        width: 100%;
        background-color: whitesmoke;
        float: left;
    }

    .textslide {
        display: block;
        background: #1abc9c;
        width: 100%;
        height: 300px;
        float: left;
    }

    .textslide .card {
        position: relative;
        top: 20%;
        width: 350px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .textslide .card:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
        transform: translateY(-10px) scale(1.02);
    }


    .textslide .entry-title {

        display: inline;
        transition: .5s ease-in-out;
        font-family: raleway, arial, sans-serif;
        text-transform: uppercase;

    }

    .textslide .entry-title a {
        color: white;
        text-decoration: none;
    }



    [name="slide2"] {
        display: none;
    }

    .slidebox2 {
        max-width: 100000px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: left;
    }

    .slidebox2 img {
        max-width: 100%;
    }

    .slidebox2 .slidelist2 {
        width: 300px;
        height: 300px;
        position: relative;
        left: 0%;

    }

    .slidebox2 .slideitem2 {
        position: relative;
        transition: all .60s;
        width: max-content
    }

    .slidebox2 .slideitem2 .Float2 {
        float: left;
    }


    .slidebox2 .slideitem2 img {
        width: 300px;
        height: 300px;

    }


    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }

    @keyframes slide02 {
        0% {
            left: -0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }

    #Textlink{
        display: block;
        width: 15%;
        height: 100%;
        /* margin: 0 auto; */
        float: left;
        margin-top: 10%;
    }
    #Textlink h1{
        font-size: small;
    }
    #Textlink p{
        font-size: x-small;
    }


}

@media (min-width: 970px) and (max-width:1150px) {
    /* #Textlink{
        display: block;
        width: 100%;
        height: 100%;
         
        float: right;
        margin-top: 10%;
    }
    #Textlink h1{
        font-size: large;
    }
    #Textlink p{
        font-size: small
    } */



    .main #section1 .text_area {
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .slidebox {
        max-width: 100000000px;
        width: 100%;
        margin: 0 auto;
        width: 400px;
        height: 665px;
        top: 4.5%;
        left: 2.3%;
        position: relative;

    }

    .slidebox .slidelist {
        width: 320px;
        height: 320px;
        overflow: hidden;
        position: absolute;
        top: 33.5%;
        left: 62.5%;
        border-radius: 60%;

    }

    .glassimg {
        position: absolute;
        top: 30%;
        left: 50%;
        background-image: url(../css/img/glass02.png);
        background-size: cover;
        width: 470px;
        height: 500px;

    }

    .slidebox .slideitem img {
        width: 320px;
        height: 320px;
    }



    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage {
        display: block;
        float: left;
        width: 400px;
        height: 400px;
        background-color: white;
        margin-left: 30%;
    }


    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: cover;
        width: 200px;
        height: 200px;
    }

    .main #section2_forntpage div h1 {
        margin-left: 0;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 200px;
        height: 200px;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: cover;
    }


    .main #section2_forntpage h1 {
        width: 300px;
        left: 10%;
        top: 15%;

    }

    .main #section2_forntpage span {
        display: block;
        font-size: 40px;
    }


    /*----- main section 2 -----*/
    .main #section2 {
        width: 100%;
        height: 400px;
        background-color: beige;
        display: block;
        float: left;


    }


    .main #section4 {
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        float: left;
    }

    .textslide {
        display: block;
        background: #1abc9c;
        width: 100%;
        height: 300px;
        float: left;
    }

    .textslide .card {
        position: relative;
        top: 20%;
        width: 350px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .textslide .card:hover {
        box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
        transform: translateY(-10px) scale(1.02);
    }


    .textslide .entry-title {

        display: inline;
        transition: .5s ease-in-out;
        font-family: raleway, arial, sans-serif;
        text-transform: uppercase;

    }

    .textslide .entry-title a {
        color: white;
        text-decoration: none;
    }


    [name="slide2"] {
        display: none;
    }

    .slidebox2 {
        max-width: 100000px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: left;
    }

    .slidebox2 img {
        max-width: 100%;
    }

    .slidebox2 .slidelist2 {
        width: 300px;
        height: 300px;
        position: relative;
        left: 0%;

    }

    .slidebox2 .slideitem2 {
        position: relative;
        transition: all .60s;
        width: max-content
    }

    .slidebox2 .slideitem2 .Float2 {
        float: left;
    }


    .slidebox2 .slideitem2 img {
        width: 300px;
        height: 300px;

    }


    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }

    @keyframes slide02 {
        0% {
            left: -0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }



}

@media (min-width: 1150px) and (max-width:1300px) {

    .main #section1 .text_area {
        position: absolute;
        top: 40%;
        left: 5%;
    }
    .slidebox {
        max-width: 100000000px;
    width: 100%;
    margin: 0 auto;
    width: 380px;
    height: 1000px;
    top: 4.5%;
    left: 2.3%;
    position: relative;
    }
    .slidebox .slidelist {
        width: 320px;
        height: 320px;
        overflow: hidden;
        position: absolute;
        top: 12.5%;
        left: 73.5%;
        border-radius: 60%;

    }

    .glassimg {
        width: 500px;
        height: 500px;
    }

    .slidebox .slideitem img {
        width: 320px;
        height: 320px;
    }



    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }



    .main #section2_forntpage span {
        display: block;
        font-size: 30px;
    }


    .textslide .card {
        position: relative;
        top: 20%;
        width: 280px;
        padding: 30px;
        background: white;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }



    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: 200px;
        width: 50%;
        height: 100%;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 50%;
        height: 100%;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: 190px;
    }

    .slidebox2 .slideitem2 img {
        width: 400px;
        height: 400px;

    }


    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(-200px);
        animation: slide02 15s infinite;
    }


    @keyframes slide02 {
        0% {
            left: 0;
        }
        5%{
            left: -400px;
        }
        25% {
            left: -400px;
        }
        30%{
            left: -800px;
        }
        50% {
            left: -800px;
        }
        55%{
            left: -1200px;
        }
        75% {
            left: -1200px;
        }
        80%{
            left: -1600px;
        }
        99.99%{
            left: -1600px;
        }
        100% {
            left: 0;
        } 
    }

}

@media (min-width:1600px) and (max-width:2000px){
    .main #section2_forntpage div .dogimg{
        width: 40%;
    }
    .main #section2_forntpage div .catimg{
        width: 40%;
    }
}

/* 
@media (min-width: 1200px) and (max-width:1330px) {

    .main #section1 .text_area {
        position: absolute;
        top: 40%;
        left: 10%;
    }

    .slidebox .slidelist {
        width: 320px;
        height: 320px;
        overflow: hidden;
        position: absolute;
        top: 16.5%;
        left: 74%;
        border-radius: 60%;

    }

    .glassimg {
        position: absolute;
        top: 10%;
        left: 60%;
        background-image: url(../css/img/glass02.png);
        background-size: cover;
        width: 500px;
        height: 500px;
        z-index: 10px;
    }



    .slidebox .slideitem img {
        width: 320px;
        height: 320px;
    }


    .main #section2_forntpage h1 {
        width: 250px;
        left: 10%;
        top: 15%;

    }



    .main #section2_forntpage span {
        display: block;
        font-size: 30px;
    }


    .textslide .card {
        position: relative;
        top: 20%;
        width: 280px;
        padding: 30px;
        background: skyblue;
        margin: auto;
        transition: .3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

    }

    .footer ul li {
        float: left;
        padding-left: 25%;
        padding-top: 2%
    }

    .main #section2_forntpage div .dogimg {
        display: block;
        background-image: url("/src/css/mainImg/free-animated-icon-dog-7211975.gif");
        background-size: 200px;
        width: 50%;
        height: 100%;
    }

    .main #section2_forntpage div .catimg {
        display: block;
        width: 50%;
        height: 100%;
        background-image: url("/src/css/mainImg/free-animated-icon-cat-7211991.gif");
        background-size: 190px;
    }



    [id="slide05"]:checked~.slidelist2 .slideitem2 {
        transform: translateX(0%);
        animation: slide02 15s infinite;
    }


    @keyframes slide02 {
        0% {
            left: 0%;
        }

        25% {
            left: -100%;
        }

        50% {
            left: -200%;
        }

        75% {
            left: -300%;
        }

        100% {
            left: -400%;
        }
    }

    .footer ul li {
        float: left;
        padding-left: 20%;
        padding-top: 2%
    }

} */

[type=radio] {
    display: none;
  }
  
  #slider {
    height: 30vw;
    width: 40vw;
    margin: 0 auto;
    left: 0%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    background-color: aliceblue;
    width: 80%;
    height: 100%;
    /* border-radius: 4px; */
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
    border-radius: 60%;
  }
  
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-50%,0,-100px);
}
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(50%,0,-100px);
  }
